.carrossel{
    position: relative;
}

.carrossel__faixa{
    display: flex;
    /* overflow-y: scroll; */
    overflow: hidden;
}

.carrossel__imagem{
    width: 100%;
    flex-shrink: 0;
    z-index: -1;
}

.carrossel__botao{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--azul);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
}

.botao__esquerdo{
    left: 0%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 12px));
}

.botao__direito{
    right: 0%;
    top: 50%;
    transform: translate(50%, calc(-50% - 12px));
}

.carrossel__indicadores{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 15px;
}

.carrossel__indicador{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--azul);
    cursor: pointer;
}

.indicador__selecionado{
    background-color: var(--laranja);
}

@media screen and (max-width: 860px){
    .carrossel__botao{
        width: 60px;
        height: 60px;
    }

    .botao__esquerdo{
        transform: translate(-15px, calc(-50% - 12px));
    }

    .botao__direito{
        transform: translate(15px, calc(-50% - 12px));
    }
}