.carrossel{
    position: relative;
}

.carrossel__faixa{
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.carrossel__imagem{
    width: 100%;
    flex-shrink: 0;
    z-index: -1;
    transition: transform 0.4s ease;
}

.carrossel__botao{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--azul);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.carrossel .carrossel__botao{
    position: absolute;
}

.carrossel .botao__esquerdo{
    left: 0%;
    top: 50%;
    transform: translate(-50%, calc(-50% - 12px));
}

.carrossel .botao__direito{
    right: 0%;
    top: 50%;
    transform: translate(50%, calc(-50% - 12px));
}

.carrossel__indicadores{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin-top: 15px;
}

.carrossel__indicador{
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--azul);
    cursor: pointer;
}

.indicador__selecionado{
    background-color: var(--laranja);
}

#lightbox{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#lightbox-img{
    width: 70vw;
}

.sem-scroll {
    overflow: hidden;
}

@media screen and (max-width: 860px){
    .carrossel__botao{
        width: 60px;
        height: 60px;
    }

    #botao-esquerdo{
        transform: translate(-15px, calc(-50% - 12px));
    }

    #botao-direito{
        transform: translate(15px, calc(-50% - 12px));
    }
}