.rodape{
    background-color: var(--preto);
    padding-bottom: 45px;
}

.rodape__container{
    max-width: 800px;
    padding: 60px 25px;
    gap: 45px;
    color: var(--branco);
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.lista__titulo{
    color: var(--azul);
    font-size: 1.25rem;
    margin-bottom: 25px;
}

.lista__item a{
    color: var(--branco);
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 15px;
}

.lista__item a:hover{
    text-decoration: underline;
}

.rodape__form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.form__caixa{
    color: var(--branco);
    font-size: 1.25rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--branco);
    font-weight: 200;
    margin-bottom: 15px;
    resize: none;
}

.form__caixa:focus{
    outline: none;
}

.form__botao{
    background-color: transparent;
    color: var(--branco);
    font-size: 1.25rem;
    font-weight: 200;   
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.form__botao:hover{
    text-decoration: underline;
}

.rodape__direitos{
    font-weight: 200;
    font-size: 1rem;
    color: var(--branco);
    display: block;
    text-align: center;
}

@media screen and (max-width: 700px){
    .rodape__container{
        padding: 60px 90px;
    } 
}

@media screen and (max-width: 545px){
    .rodape__container{
        padding: 60px 25px;
    } 

    .rodape__direitos{
        margin: 0px 25px;
    }
}

