.habilidades{
    position: relative;
}

.habilidades__lista{
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-auto-flow: column;
    gap: 10px;
    list-style: none;
}

.habilidades__retangulo{
    width: 213px;
    height: 42px;
    background-color: var(--azul);
    position: absolute;
    bottom: 100px;
    right: 75px;
    transform: rotate(133deg);
    z-index: -1;
}

@media screen and (max-width: 640px){
    .habilidades__lista{
        grid-template-rows: none;
        grid-auto-flow: row;
    }

    .habilidades__retangulo{
        right: 10px;
    }
}