.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 0px 25px;
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.cabecalho a{
    padding: 3px 5px;
    background-color: var(--branco);
}

.cabecalho a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.cabecalho__titulo, .menu__link{
    font-size: 1.5rem;
    font-weight: bold;
}

.cabecalho__logo{
    margin-left: -5px;
}

.cabecalho__menu{
    margin-right: -5px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#menu__toggle, .menu__icone{
    display: none;
}

@media screen and (max-width: 700px){  
    .cabecalho__container{
        position: relative;
    }
    
    .cabecalho__menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px 15px;
        background-color: var(--laranja);
        position: absolute;
        right: 0px;
        margin-top: 5px;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: transform .15s ease-in-out, opacity 0.15s ease;
    }

    #menu__toggle:checked ~ .cabecalho__menu{
        transform: scaleY(1);
        opacity: 1;
    }
    
    .cabecalho__menu a{
        background-color: transparent;
        padding: 0px;
    }
    
    .menu__link{
        align-self: flex-end;
        color: var(--branco);
    }

    .menu__icone{
        width: 30px;
        height: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        background-color: var(--branco);
        padding: 3px 5px;
        box-sizing: content-box;
        margin-right: -5px;
    }

    .menu__icone span{
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--preto);
        transition: all 0.3s ease, margin .15s ease;
        transform-origin: center;
        
    }

    #menu__toggle:checked + .menu__icone span:nth-child(1) {
        margin-right: -3px;
        transform: rotate(45deg) translate(5px, 7px);
        background-color: var(--laranja);
    }

    #menu__toggle:checked + .menu__icone span:nth-child(2) {
        margin-right: -3px;
        opacity: 0;
        background-color: var(--laranja);
    }

    #menu__toggle:checked + .menu__icone span:nth-child(3) {
        margin-right: -3px;
        transform: rotate(-45deg) translate(5px, -8px);
        background-color: var(--laranja);
    }
}